#root {
  font-family: Arial, Helvetica, sans-serif;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error {
  margin-top: 0.25rem;
  color: #ff0000;
}
